{% extends 'base.html' %}
{% load static %}

{% block 'title' %}{{ match.opponents }} - Today Cricket Matches{% endblock %}

{% block 'hero' %}{% endblock %}

{% block 'content' %}
	
	<h1 class="title is-uppercase is-size-3">{{ match.opponents }}</h1>
	<p class="subtitle is-6 is-uppercase"><strong>{{ match.series.title }} - {{ match.date|date:"d/m/Y" }} - {{ match.time|date:"h:i A" }}</strong></p>	
	<div class="field is-grouped">
		<div class="control">
			<div class="tags has-addons">
				<span class="tag is-radiusless is-dark">Status</span>
				<span class="tag is-radiusless is-light">{{ match.status }}</span>
			</div>
		</div>
	</div>

	<h2 class="is-uppercase is-size-5">Prediction: <span class="has-text-primary">{{ match.prediction }}</span></h2>
	<h2 class="is-uppercase is-size-5">Winner: <span class="has-text-primary">{{ match.winner }}</span></h2>
	<hr>

	<h2 class="is-uppercase is-size-5"><span class="icon has-text-primary"><i class="far fa-comment"></i></span> Live Feed</h2>
	<p>Occasionally, we will give you live comments regarding to current match.</p>	

	{% for message in messages %}
		
		<div class="notification">
			<p class="tag is-dark is-radiusless is-size-7">{{ message.date|date:"d/m/Y" }} - {{ message.date|date:"h:i A" }}</p>
			<p>{{message.message}}</p>
		</div>
		{% empty %}
		<div class="notification">				
			<p>There is no message for this match.</p>
		</div>
	{% endfor %}

{% endblock 'content' %}

{% block 'sidebar' %}

<h3>{{ series.title }}</h3>
<figure class="image is-16by9 is-marginless">
	<img src="{{ series.series_image.url }}">
</figure>
<hr>
<h4 class="is-uppercase">Complete Schedule</h4>
{% for schedule in schedule  %}

	<ul>
		<li><p class="title is-6 is-uppercase"><strong><a class="has-text-primary" href="{% url 'match_detail' schedule.slug %}">{{ schedule.opponents }}</a></strong></p><p class="subtitle is-7">{{ schedule.date }}</p></li>
	</ul>

{% endfor %}

{% endblock %}