{% extends 'master.html' %}

{% load static %}

{% block 'title' %}Get Accurate Predictions And Betting Tips For All Upcoming And Today's Cricket Matches{% endblock %}

{% block 'description' %}Get accurate predictions and betting tips for all upcoming and today's cricket matches. Get predictions of almost all the One Day Internationals, T20 Internationals, Indian Premier League, Big Bash League, Pakistan Super League, Bangladesh Premier League, Carribbean Premier League, Natwest T20 Blast, Royal London One Day Cup, Karnatka Premier League and Tamil Nadu Premier League.{% endblock %}

{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{% block 'above_content' %}

<section class="hero is-black">
	<div class="hero-body is-paddingless">
        <div class="columns is-desktop is-paddingless is-marginless">

        	{%for series in latest_series|slice:':1'%}
	        	<div class="column is-9-desktop is-paddingless is-marginless banner-bg" style="position: relative; background-image: url('{{series.series_image.url}}');">            	
		            <div class="is-flex" style="width: 100%; height: 100%; align-items: flex-end;">		            	
		            	<section class="section" style="background-color: #000000b3; flex-grow: 1; padding: 1.5rem;">
		            		<h2 class="has-text-primary is-marginless">Latest series</h2>
		            		<p class="heading is-marginless is-uppercase">Start date: {{series.date|date:"d/m/Y"}}</p>
		            		<h3 class="has-text-white is-marginless">{{series.title}}</h3>
		            		<p>{{series.summary}}</p>
		            		<p><a class="button is-secondary is-outlined is-radiusless" href="{% url 'series_detail' series.series_slug %}">View Schedule</a></p>
		            	</section>
		            </div>
	            </div>
	        {%empty%}
	        	<div class="column is-9-desktop is-paddingless is-marginless banner-bg" style="position: relative; background-image: url('{% static 'images/fallback.jpeg' %}');">            	
		            <div class="is-flex" style="width: 100%; height: 100%; align-items: flex-end;">		            	
		            	<section class="section" style="background-color: #000000b3; flex-grow: 1; padding: 1.5rem;">
		            		<p class="title is-marginless is-uppercase">No series in the record</p>
		            	</section>
		            </div>
	            </div>
        	{%endfor%}

            <div class="column is-3-desktop is-paddingless is-marginless">
            	<section class="section">
            		<p class="heading is-size-5">Get accurate predictions and betting tips for all upcoming and today's cricket matches</p>
            		<p>Get predictions of almost all the One Day Internationals, T20 Internationals and all the major domestic cricket leagues around the world.</p>

            		{% for match in latest_match|slice:':1' %}
	            		<h2 class="has-text-primary">Next match</h2>
	            		<p class="heading is-uppercase is-marginless">Date: {{match.date|date:"d/m/Y - h:i A"}}</p>
	            		<h3 class="is-marginless has-text-white">{{match.opponents}}</h3>
	            		<p class="heading"><a href="{% url 'series_detail' match.series.series_slug %}">{{match.series.title}}</a></p>
	            		<p><a class="button is-secondary is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">View Detail</a></p>
            		{% endfor %}

            	</section>
            </div>            
        </div>
	</div>
</section>

{% endblock 'above_content' %}

{% block 'content' %}

<!--TODAYS MATCHES-->

<div class="card">
	<div class="card-header">
		<div class="card-header-title">
			<div class="card-header-icon">
				<p class="icon is-large">
					<i class="far fa-3x fa-play-circle"></i>
				</p>
			</div>

			<div>
				<h2 class="is-marginless has-text-primary">Today's matches</h2>
				<p class="is-uppercase">List of all today's matches.</p>
			</div>
		</div>
	</div>
	<div class="card-content">
		<div class="content">
			{% for match in today_matches %}
				<div class="content">
					<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
					<h3 class="is-marginless">{{ match.opponents }}</h3>
					<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
					<a class="button is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
						<span class="icon">
							<i class="far fa-play-circle"></i>
						</span>
						<span>View Prediction</span>
					</a>
				</div>
			{% empty %}
				<div class="notification is-primary">
					<p class="is-uppercase">No match is scheduled today.</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<!--UPCOMING MATCHES-->

<div class="card">
	<div class="card-header">
		<div class="card-header-title">
			<div class="card-header-icon">
				<p class="icon is-large">
					<i class="far fa-3x fa-calendar-alt"></i>
				</p>
			</div>

			<div>
				<h2 class="is-marginless has-text-primary">Upcoming matches</h2>
				<p class="is-uppercase">List of all upcoming matches.</p>
			</div>
		</div>
	</div>
	<div class="card-content">
		<div class="content">
			{% for match in upcoming_matches|slice:':20' %}
				<div class="content">
					<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
					<h3 class="is-marginless">{{ match.opponents }}</h3>
					<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
					<a class="button is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
							<span class="icon">
								<i class="far fa-play-circle"></i>
							</span>
						<span>View Prediction</span>
					</a>
				</div>
			{% empty %}
				<div class="notification is-primary">
					<p class="is-uppercase">No match is scheduled.</p>
				</div>
			{% endfor %}

		</div>
	</div>
</div>

<!-- RECENT MATCHES -->

<div class="card">
	<div class="card-header">
		<div class="card-header-title">
			<div class="card-header-icon">
				<p class="icon is-large">
					<i class="far fa-3x fa-calendar-check"></i>
				</p>
			</div>

			<div>
				<h2 class="is-marginless has-text-primary">Recent matches</h2>
				<p class="is-uppercase">List of recent matches.</p>
			</div>
		</div>
	</div>
	<div class="card-content">
		<div class="content">
			
			<!--
			{% regroup recent_matches by date|date:"d/m/Y" as matches_by_day %}			
			{% for date in matches_by_day %}
				<h2 class="">{{ date.grouper }}</h2>
			    <div class="box">
			        {% for match in date.list %}
				        <div class="content">
				        	<p class="heading is-marginless">Start Time: {{ match.date|date:"h:i A" }}</p>
							<h3 class="is-marginless">{{ match.opponents }}</h3>
							<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
							<a class="button is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
								<span class="icon">
									<i class="far fa-play-circle"></i>
								</span>
								<span>View Prediction</span>
							</a>
				        </div>
			        {% endfor %}
				</div>
			{% endfor %}-->


			{% for match in recent_matches|slice:':20' %}
				<div class="content">
					<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
					<h3 class="is-marginless">{{ match.opponents }}</h3>
					<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
					<a class="button is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
							<span class="icon">
								<i class="far fa-play-circle"></i>
							</span>
						<span>View Prediction</span>
					</a>
				</div>
			{% empty %}
				<div class="notification is-primary">
					<p class="is-uppercase">No record found.</p>
				</div>
			{% endfor %}

		</div>
	</div>
</div>

{% endblock 'content' %}



{% block 'below_content' %}

<section class="hero is-secondary is-hidden">
	<div class="hero-body has-text-centered">
		<h2 class="title is-1">Check our stats</h2>
		<hr>
		<div class="level is-mobile is-marginless">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Predicted</p>
					<p class="title is-2 is-size-4-mobile">{{predicted}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Won</p>
					<p class="title is-2 is-size-4-mobile">{{won}}</p>
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading">Accuracy</p>
					<p class="title is-2 is-size-4-mobile">{{accuracy}}%</p>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="hero is-primary">
	<div class="hero-body">
		<div class="container content">
			<div class="columns is-desktop">
				<div class="column is-7-desktop">
					<p class="title is-2 is-size-3-mobile is-uppercase">are you grown up and ready to use science to your benefit or still believe in miracles?</p>
					<p class="subtitle is-6 heading"><em>We use the power of Staistics, Mathematics and Artificial Intelligence to predict the winner of the match.</em></p>
				</div>
				<div class="column is-5-desktop">
					<h4 class="title is-4 is-capitalized">How it works</h4>
					<p class="heading is-size-7">It all starts with data collected by cricinfo's statsguru and live betting data from betfair.</p>
					<p class="heading is-size-7">We use cricinfo's statsguru to get stats about ground, teams and players past performances, head to head stats and many more factors to predict the outcome.</p>
					<p class="heading is-size-7">We use betfair to fetch betting data and use Artifical intelligence to analyze this data to get information about current betting trends from all over the world.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



{% block 'sidebar' %}
	
	{% if all_series %}
		<h2 class="has-text-primary">All series</h2>
		{% for series in all_series|slice:':5' %}
			<figure class="image is-16by9 is-marginless" style="margin-bottom: 1rem !important;">
				<img src="{{series.series_image.url}}" alt="{{series.title}}">
			</figure>
			<p class="heading is-marginless has-text-white">Start date: {{series.date|date:"d/m/Y"}}</p>
			<h3 class="is-marginless has-text-white">{{series.title}}</h3>
			<p class="has-text-white">{{series.summary}}</p>
			<p><a class="button is-secondary is-outlined is-radiusless" href="{% url 'series_detail' series.series_slug %}">View Detail</a></p>
		{% endfor %}
	{% endif %}

{% endblock %}