{% extends 'master.html' %}

{% load static %}

{% block 'title' %}Accurate Predictions And Betting Tips For All Upcoming And Today's Cricket Matches{% endblock %}

{% block 'description' %}Get predictions of almost all the One Day Internationals, T20 Internationals, Indian Premier League, Big Bash League, Pakistan Super League, Bangladesh Premier League, Carribbean Premier League, Natwest T20 Blast, Royal London One Day Cup, Karnatka Premier League and Tamil Nadu Premier League.{% endblock %}

{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}

{% block 'content' %}

<section class="notification is-light is-radiusless">
	<h2 class="title is-3">Get Live Score, Match odds, accurate predictions and betting tips for all upcoming and today's cricket matches</h2>
	<p class="is-size-6">We cover almost all the <strong>One Day Internationals</strong>, <strong>T20 Internationals</strong>, <strong>Indian Premier League</strong>, <strong>Big Bash League</strong>, <strong>Pakistan Super League</strong>, <strong>Bangladesh Premier League</strong>, <strong>Carribbean Premier League</strong>, <strong>Vitlity T20 Blast</strong>, <strong>Royal London One Day Cup</strong>, <strong>Karnatka Premier League</strong>, <strong>Tamil Nadu Premier League</strong> and many more...</p>
	<p>We don't focus to cover every match. Instead, our focus is to maintain accuracy and provide accurate predictions. We intend to cover those matches for which we have complete data access.</p>
</section>

<hr><h2>Today's matches</h2><hr>

{% for match in today_matches|slice:':5' %}
	<p class="heading is-size-5 is-marginless notification is-marginless is-primary is-radiusless" style="padding: 1rem 2rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
	<div class="content notification is-light is-radiusless">
		<h3 class="is-marginless"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
		<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
		{% if match.tags.all %}
			<div class="buttons is-multiline">
				{% for t in match.tags.all %}
					<a class="button is-small is-black is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<div class="notification is-primary is-radiusless">
		<p class="is-uppercase">No match is scheduled in next few days.</p>
	</div>
{% endfor %}

<hr><h2>Upcoming matches</h2><hr>

{% for match in upcoming_matches|slice:':20' %}

	<p class="heading is-size-5 is-marginless notification is-marginless is-grey is-radiusless" style="padding: 1rem 2rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
	<div class="content notification is-light is-radiusless">
		<h3 class="is-marginless"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
		<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
		{% if match.tags.all %}
			<div class="buttons is-multiline">
				{% for t in match.tags.all %}
					<a class="button is-small is-black is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<div class="notification is-primary is-radiusless">
		<p class="is-uppercase">No match is scheduled in next few days.</p>
	</div>
{% endfor %}
{% if upcoming_matches|length > 20 %}
	<a class="button is-grey is-large is-radiusless is-capitalized" href="{% url 'upcoming_matches' %}">View full list</a>
{% endif %}


{% endblock 'content' %}

{% block 'below_content' %}

<div class="hero is-primary">
	<div class="hero-body">
		<div class="container content">
			<div class="columns is-desktop">
				<div class="column is-7-desktop">
					<p class="title is-2 is-size-3-mobile is-uppercase">are you grown up and ready to use science to your benefit or still believe in miracles?</p>
					<p class="subtitle is-6 heading"><em>We use the power of Staistics, Mathematics and Artificial Intelligence to predict the winner of the match.</em></p>
				</div>
				<div class="column is-5-desktop">
					<h4 class="title is-4 is-capitalized">How it works</h4>
					<p class="heading is-size-7">It all starts with data collected by cricinfo's statsguru and live betting data from betfair.</p>
					<p class="heading is-size-7">We use cricinfo's statsguru to get stats about ground, teams and players past performances, head to head stats and many more factors to predict the outcome.</p>
					<p class="heading is-size-7">We use betfair to fetch betting data and use Artifical intelligence to analyze this data to get information about current betting trends from all over the world.</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}



{% block 'sidebar' %}
	
	{% if latest_series %}
		<h2>Recent series</h2>
		{% for series in latest_series|slice:':5' %}
			<figure class="image is-16by9 is-marginless">
				<img src="{{series.series_image.url}}" alt="{{series.title}}">
			</figure>
			<div class="notification is-radiusless">
				<p class="heading is-marginless">Start date: {{series.date|date:"d/m/Y"}}</p>
				<a href="{% url 'series_detail' series.series_slug %}"><h3 class="is-marginless is-size-4">{{series.title}}</h3></a>
				<p>{{series.summary}}</p>
			</div>
		{% endfor %}
		<hr>
	{% endif %}

	<h2>Recent matches</h2>
	{% for match in recent_matches|slice:':10' %}
		<p class="heading is-size-7 is-marginless notification is-marginless is-primary is-radiusless" style="padding: 1rem 2rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
		<div class="content notification is-light is-radiusless">
			<h3 class="is-marginless is-size-4"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
			<p class="is-uppercase is-size-7"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
			<p class="is-size-7">{{match.notes}}</p>
			{% if match.tags.all %}
				<div class="buttons is-multiline">
					{% for t in match.tags.all %}
						<a class="button is-small is-black is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% empty %}
	<div class="notification is-primary is-radiusless">
		<p class="is-uppercase">No record found.</p>
	</div>
{% endfor %}
	{% if tag_cloud %}
		<h2>Tag cloud</h2>
		<div class="buttons is-multiline">
			{% for t in tag_cloud %}
				<a class="button is-small is-primary is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}