{% extends 'base.html' %}

{% load static %}

{% block 'title' %}Today Cricket Matches{% endblock %}

{% block 'fullwidth' %}

<figure class="image is-16by9 is-marginless">
	<img src="{% static 'images/16by9.png' %}">
</figure>

{% endblock 'fullwidth' %}

{% block 'content' %}

<div class="content">
	<h1 class="title is-uppercase">Today Cricket Matches</h1>
	<p class="subtitle is-size-5">GET LATEST NEWS, UPDATES, RESULTS, PREDICTIONS AND ALL THE OTHER INFORMATION ABOUT YOUR BELOVED GAME OF CRICKET.</p>
	<p class="is-size-6">We cover all the <strong>One Day Internationals</strong>, <strong>T20 Internationals</strong> and all the major domestic cricket leagues around the world. Some of the famous leagues are <strong>Indian Premier League</strong>, <strong>Big Bash League</strong>, <strong>Pakistan Super League</strong>, <strong>Bangladesh Premier League</strong>, <strong>Carribbean Premier League</strong>, <strong>Natwest T20 Blast</strong>, <strong>Royal London One Day Cup</strong>, <strong>Karnatka Premier League</strong> and <strong>Tamil Nadu Premier League</strong>.</p>
</div>

<hr>

<!--TODAYS MATCHES-->

<h2 class="title is-4 is-uppercase">List of Today's Matches</h2>
<p class="subtitle is-6 is-uppercase">Here's a list of all matches being played today.</p>
<hr>
<div class="columns is-mobile">
	<div class="column is-narrow is-hidden-mobile">
		<p class="icon is-large">
			<i class="far fa-3x fa-play-circle"></i>
		</p>
	</div>
	<div class="column">
		{% for match in todays_matches %}	
			<div class="content">
				<h3 class="title is-5 is-capitalized has-text-primary">{{ match.opponents }}</h3>
				<p class="subtitle is-7 is-uppercase"><strong>{{ match.series.title }} - {{ match.date|date:"d/m/Y" }} - {{ match.time|date:"h:i A" }}</strong></p>				
				<a class="button is-small is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
					<span class="icon">
						<i class="far fa-play-circle"></i>
					</span>
					<span>View Prediction</span>
				</a>
			</div>	
			{% empty %}
			<div class="content is-medium">
				<p class="is-uppercase has-text-danger">No match is scheduled today.</p>
			</div>
		{% endfor %}
	</div>
</div>


<hr>
	<h2 class="title is-4 is-uppercase">List of Upcoming Cricket Matches</h2>
	<p class="subtitle is-6 is-uppercase">Here's a list of upcoming matches coming in next few days.</p>
<hr>

<div class="columns is-mobile">
	<div class="column is-narrow is-hidden-mobile">
		<p class="icon is-large">
			<i class="far fa-3x fa-calendar-alt"></i>
		</p>
	</div>
	<div class="column">
		{% for match in upcoming_matches %}	
			<div class="content">
				<h3 class="title is-5 is-capitalized has-text-primary">{{ match.opponents }}</h3>
				<p class="subtitle is-7 is-uppercase"><strong>{{ match.series.title }} - {{ match.date|date:"d/m/Y" }} - {{ match.time|date:"h:i A" }}</strong></p>					
				<a class="button is-small is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
					<span class="icon">
						<i class="far fa-play-circle"></i>
					</span>
					<span>View Prediction</span>
				</a>
			</div>	
			{% empty %}
			<div class="content is-medium">
				<p class="is-uppercase has-text-danger">Currently, we have no upcoming matches in the list.</p>
			</div>
		{% endfor %}
	</div>
</div>

<hr>
	<h2 class="title is-4 is-uppercase">List of Recent Cricket Matches</h2>
	<p class="subtitle is-6 is-uppercase">Here's a list of recent matches played in past few days.</p>
<hr>

<div class="columns is-mobile">
	<div class="column is-narrow is-hidden-mobile">
		<p class="icon is-large">
			<i class="far fa-3x fa-calendar-check"></i>
		</p>
	</div>
	<div class="column">
		{% for match in recent_matches %}	
			<div class="content">
				<h3 class="title is-5 is-capitalized has-text-primary">{{ match.opponents }}</h3>
				<p class="subtitle is-7 is-uppercase"><strong>{{ match.series.title }} - {{ match.date|date:"d/m/Y" }} - {{ match.time|date:"h:i A" }}</strong></p>					
				<a class="button is-small is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
					<span class="icon">
						<i class="far fa-play-circle"></i>
					</span>
					<span>View Prediction</span>
				</a>
			</div>	
			{% empty %}
			<div class="content is-medium">
				<p class="is-uppercase has-text-danger">Currently, we have no recent matches in the list.</p>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock 'content' %}

{% block 'sidebar' %}	

	{% if all_series %}
		<h2 class="is-uppercase">Current Series</h2>
		{% for series in all_series %}
		<div class="card">
			<div class="card-image" >
				<figure class="image is-16by9 is-marginless">
					<img src="{{ series.series_image.url }}">
				</figure>
			</div>
			<div class="card-content">
		    	<h3 class="is-capitalized">{{ series.title }}</h3>
				<p class="tag is-primary is-uppercase">Start Date - {{ series.date|date:"d/m/Y" }}</p>
				<div class="content">
					{{ series.summary|safe|truncatechars:250 }}
				</div>
		    </div>
		</div>
		{% endfor %}
	{% endif %}

{% endblock 'sidebar' %}