{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{ match.opponents|title }} - Get Accurate Match Prediction{% endblock %}
{% block 'description' %}Get accurate match prediction, betting tips and live scorecard for {{ match.opponents|title }}. See full schedule of {{ match.series.title|title }}.{% endblock %}
{% block 'news' %}{{ match.opponents|title }} Latest Update{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}	
	<div class="notification is-primary is-radiusless is-marginless">
		<p class="is-marginless is-size-7-mobile">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
		<h1 class="is-marginless has-text-white is-size-4-mobile">{{ match.opponents }}</h1>
		<p class="is-uppercase is-size-7-mobile"><a href="{% url 'series_detail' match.series.series_slug %}">{{ match.series.title }}</a></p>
	</div>	
	
	<div class="notification is-dark is-radiusless is-marginless">		
		<div id="Board" class="columns is-mobile is-paddingless">
			<div class="column">
				<p id="TeamA" class="is-size-5-desktop is-size-7-mobile is-uppercase is-marginless has-text-weight-bold">{{ match.team_a }}</p>
				<p id="TeamB" class="is-size-5-desktop is-size-7-mobile is-uppercase has-text-weight-bold">{{ match.team_b }}</p>
			</div>
			<div class="column is-narrow">
				<p class="is-size-5-desktop is-size-7-mobile is-uppercase is-marginless has-text-weight-bold">  <span id="TeamAScore">{{ match.team_a_score }}</span></p>
				<p class="is-size-5-desktop is-size-7-mobile is-uppercase has-text-weight-bold">  <span id="TeamB"><span id="TeamBScore">{{ match.team_b_score }}</span></p>
			</div>
		</div>	
		<p id="MatchNotes" class="is-uppercase is-size-7-mobile">{{ match.notes }}</p>		
	</div>

	
	<div id="Prediction" class="notification is-grey is-radiusless is-marginless">
		<h2 class="is-uppercase is-marginless is-size-4-mobile">{{ match.prediction }}</h2>
	</div>
	
	<div id="ODDS" class="notification is-secondary is-radiusless">
		<div class="columns is-mobile is-paddingless">
			<div class="column">
				<p id="OddsTeamA" class="is-size-5-desktop is-size-7-mobile is-uppercase is-marginless has-text-weight-bold">{{ match.odds_team_a_name }}</p>
				<p id="OddsTeamB" class="is-size-5-desktop is-size-7-mobile is-uppercase has-text-weight-bold">{{ match.odds_team_b_name }}</p>
			</div>
			<div class="column is-narrow">
				<p class="is-size-5-desktop is-size-7-mobile is-uppercase is-marginless has-text-weight-bold">  <span id="OddsTA">{{ match.team_a_odds }}</span></p>
				<p class="is-size-5-desktop is-size-7-mobile is-uppercase has-text-weight-bold">  <span id="TeamB"><span id="OddsTB">{{ match.team_b_odds }}</span></p>
			</div>
		</div>
	</div>		
	<hr>
	
	<!--h2 class="is-uppercase">Live Feed</h2>

	{% for message in messages %}		
		<div class="content">
			<p class="is-size-7 is-marginless"><strong>{{ message.date|date:"d/m/Y" }} - {{ message.date|date:"h:i A" }}</strong></p>
			<div>{{message.message|safe}}</div>
		</div>
		{% empty %}
		<div class="notification">				
			<p>There is no message for this match.</p>
		</div>
	{% endfor %}-->

	
	
	<div>
		<p>Get <strong>accurate match prediction</strong> and <strong>live scorecard</strong> of <strong>{{ match.opponents|title }}</strong>. We provide predictions based on data analysis and betting trends around over the world.</p>
		<p><strong>We do not use astrology</strong> or any kind of bullshit, else we use state of the art, data driven approach to fetch out the possible winner of the match with highest possible success ratio.</p>
		{% if match.tags.all %}
			<div class="buttons is-multiline">
				{% for t in match.tags.all %}
					<a class="button is-small is-dark is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<hr>
	

	<h2 class="is-size-3-mobile">{{match.series.title}}</h2>
	{% for match in schedule|slice:':10' %}
		<p class="heading is-size-5 is-size-7-mobile is-marginless notification is-marginless is-grey is-radiusless" style="padding: .5rem 1.5rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
		<div class="content notification is-light is-radiusless">
			<h3 class="is-marginless is-size-4-mobile"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
			<p class="is-capitalized is-size-7-mobile"><a href="{% url 'series_detail' match.series.series_slug %}">{{ match.series.title }}</a></p>
			{% if match.tags.all %}
				<div class="buttons is-multiline">
					{% for t in match.tags.all %}
						<a class="button is-small is-black is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endfor %}


{% endblock 'content' %}

{% block 'sidebar' %}
	
	{{block.super}}
	
	{% if latest_series %}
		<h2 class="notification is-secondary is-radiusless">Recent series</h2>
		{% for series in latest_series|slice:':5' %}
			<figure class="image is-16by9 is-marginless">
				<img src="{{series.series_image.url}}" alt="{{series.title}}">
			</figure>
			<div class="notification is-radiusless">
				<a href="{% url 'series_detail' series.series_slug %}"><h3 class="is-marginless is-size-4 is-size-5-mobile">{{series.title}}</h3></a>				
				<p class="heading is-marginless">Start date: {{series.date|date:"d/m/Y"}}</p>
				<p>{{series.summary}}</p>
			</div>
		{% endfor %}
	{% endif %}

	<h2 class="notification is-secondary is-radiusless">Recent matches</h2>
	{% for match in recent_matches|slice:':5' %}
		<p class="heading is-size-7 is-marginless notification is-marginless is-primary is-radiusless" style="padding: .5rem 1.5rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
			<div class="content notification is-light is-radiusless">
				<h3 class="is-marginless is-size-4 is-size-5-mobile"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
				<p class="is-capitalized is-size-7"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
				<p class="is-size-7">{{match.notes}}</p>
			</div>
		{% empty %}
		<div class="notification is-primary is-radiusless">
			<p class="is-uppercase">No record found.</p>
		</div>
	{% endfor %}

{% endblock %}



{% block 'scripts' %}

	<script type="text/javascript">
		$(document).ready(function(){

			setInterval(score_refresh, 5000);

			function score_refresh(){

				var pk = {{match.id}};

				$.get({
					url: '{% url 'scorecard' %}',
					data: {
					  'pk': pk
					},
					dataType: 'json',
					success: function (data) {
						if (data) {
							$('#TeamA').html(data[0]);
							$('#TeamAScore').html(data[1]);
							$('#OddsTA').html(data[2]);
							$('#TeamB').html(data[3]);
							$('#TeamBScore').html(data[4]);
							$('#OddsTB').html(data[5]);

							var notes = data[6];
							if (notes == 'Not updated') {
								$('#MatchNotes').hide();
								$('#Board').addClass('is-marginless');
							} else {
								$('#Board').removeClass('is-marginless');
								$('#MatchNotes').show();
								$('#MatchNotes').html(notes);
							}
							

							var prediction = data[7];
							if (prediction) {
								$('#Prediction').html(prediction);
								$('#Prediction').show();
							} else {
								
								$('#Prediction').hide();
							}

							
							$('#OddsTeamA').html(data[8]);
							$('#OddsTeamB').html(data[9]);

							var status = data[10];
							if (status == 'completed') {
								$('#ODDS').hide();
							} else {
								$('#ODDS').show();
							}
						}
					}
				});
			}

		});
	</script>

{% endblock %}

