{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{ match.opponents|title }} - Get Accurate Match Prediction{% endblock %}
{% block 'description' %}Get accurate match prediction, betting tips and live scorecard for {{ match.opponents|title }}. See full schedule of {{ match.series.title|title }}.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}	
	<p class="is-marginless"><strong>{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</strong></p>
	<h1 class="is-marginless">{{ match.opponents }}</h1>
	<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>

	<div id="scorecard" class="box">
		<h2>Scorecard</h2>
		{% if match.status != 'not started' %}
			<p class="is-size-5-desktop is-uppercase is-marginless has-text-weight-bold"><span id="TeamA">{{ match.team_a }}</span>: <span id="TeamAScore">{{ match.team_a_score }}</span></p>
			<p class="is-size-5-desktop is-uppercase has-text-weight-bold"><span id="TeamB">{{ match.team_b }}</span>: <span id="TeamBScore">{{ match.team_b_score }}</span></p>
			<p class="is-uppercase"><span id="MatchNotes">{{ match.notes }}</span></p>
			<h2 class="is-uppercase">Prediction:<br><span id="Prediction" class="has-text-primary">{{ match.prediction }}</span></h2>
		{% else %}
			<p class="is-size-4-desktop">Match is not started yet.</p>
		{% endif %}
	</div>

	<h2 class="is-uppercase">Live Feed</h2>

	{% for message in messages %}		
		<div class="content">
			<p class="is-size-7 is-marginless"><strong>{{ message.date|date:"d/m/Y" }} - {{ message.date|date:"h:i A" }}</strong></p>
			<div>{{message.message|safe}}</div>
		</div>
		{% empty %}
		<div class="notification">				
			<p>There is no message for this match.</p>
		</div>
	{% endfor %}

	<div class="tags is-multiline">
		{% for t in match.tags.all %}
			<a class="tag is-primary is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
		{% endfor %}
	</div>

{% endblock 'content' %}

{% block 'sidebar' %}{{block.super}}{% endblock %}

{% block 'scripts' %}

	<script type="text/javascript">
		$(document).ready(function(){

			setInterval(score_refresh, 10000);

			function score_refresh(){

				var pk = {{match.id}};

				$.get({
					url: '{% url 'scorecard' %}',
					data: {
					  'pk': pk
					},
					dataType: 'json',
					success: function (data) {
						if (data) {
							$('#TeamA').html(data[0]);
							$('#TeamAScore').html(data[1]);
							$('#TeamB').html(data[2]);
							$('#TeamBScore').html(data[3]);
							$('#MatchNotes').html(data[4]);
							$('#Prediction').html(data[5]);
						}
					}
				});
			}

		});
	</script>

{% endblock %}

