{% extends 'master.html' %}
{% load static %}

{% block 'title' %}Who Will Win {{ match.opponents|title }} - Get Accurate Match Prediction{% endblock %}
{% block 'description' %}Get accurate match prediction and betting tips for {{ match.opponents }}. See full schedule of {{ match.series.title }}.{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}	
	<p class="is-marginless"><strong>{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</strong></p>
	<h1 class="is-marginless">{{ match.opponents }}</h1>
	<p class="subtitle is-6 is-uppercase"><strong>{{ match.series.title }}</strong></p>

	<h2 class="is-uppercase is-size-5">Prediction: <span class="has-text-primary">{{ match.prediction }}</span></h2>
	<h2 class="is-uppercase is-size-5">Winner: <span class="has-text-primary">{{ match.winner }}</span></h2>
	<hr>

	<h2 class="is-uppercase is-size-5"><span class="icon has-text-primary"><i class="far fa-comment"></i></span> Live Feed</h2>

	{% for message in messages %}
		
		<div class="content">
			<p class="is-size-7 is-marginless"><strong>{{ message.date|date:"d/m/Y" }} - {{ message.date|date:"h:i A" }}</strong></p>
			<div>{{message.message|safe}}</div>
		</div>
		{% empty %}
		<div class="notification">				
			<p>There is no message for this match.</p>
		</div>
	{% endfor %}

{% endblock 'content' %}