{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{% endblock %}
{% block 'description' %}{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}	
	<h1>{{ series.title }}</h1>
	<figure class="image is-16by9 is-marginless" style="margin-bottom: 2rem !important;">
		<img src="{{ series.series_image.url }}">
	</figure>
	
	<h2>Schedule</h2>
	{% for match in schedule %}
		<div class="content notification">
			<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
			<a href="{% url 'match_detail' match.slug %}"><h3 class="is-marginless">{{ match.opponents }}</h3></a>
			<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
			{% if match.tags.all %}
				<div class="tags is-multiline">
					{% for t in match.tags.all %}
						<a class="tag is-primary is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% empty %}
		<div class="notification is-primary">
			<p class="is-uppercase">No match is scheduled until now.</p>
		</div>
	{% endfor %}
{% endblock 'content' %}

{% block 'sidebar' %}{{block.super}}{% endblock %}