{% extends 'master.html' %}
{% load static %}

{% block 'title' %}Get Accurate Match Prediction{% endblock %}
{% block 'description' %}{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}

<h1>{{ tag.tag_name }}</h1>

{% for match in tag_archive %}
	<div class="content notification">
			<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
			<a href="{% url 'match_detail' match.slug %}"><h3 class="is-marginless">{{ match.opponents }}</h3></a>
			<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
			{% if match.tags.all %}
				<div class="tags is-multiline">
					{% for t in match.tags.all %}
						<a class="tag is-primary is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
{% endfor %}

{% endblock 'content' %}

{% block 'sidebar' %}{{block.super}}{% endblock %}
