{% extends 'master.html' %}
{% load static %}

{% block 'title' %}Get Accurate Match Prediction{% endblock %}
{% block 'description' %}{% endblock %}
{% block 'canonical' %}<link rel="canonical" href="{{request.build_absolute_uri}}" />{% endblock %}


{% block 'content' %}

<h1 class="notification is-radiusless">{{ tag.tag_name }}</h1><hr>

{% for match in tag_archive %}
	<p class="heading is-size-5 is-marginless notification is-marginless is-grey is-radiusless" style="padding: 1rem 2rem;">{{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
	<div class="content notification is-light is-radiusless">
		<h3 class="is-marginless"><a href="{% url 'match_detail' match.slug %}">{{ match.opponents }}</a></h3>
		<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
		<p>{{ match.notes }}</p>
		{% if match.tags.all %}
			<div class="buttons is-multiline">
				{% for t in match.tags.all %}
					<a class="button is-small is-black is-outlined is-capitalized" href="{% url 'tag_detail' t.slug %}">{{ t.tag_name }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endfor %}

{% endblock 'content' %}

{% block 'sidebar' %}{{block.super}}{% endblock %}
