{% extends 'master.html' %}

{% block 'title' %}Get Accurate Predictions And Betting Tips For All Upcoming And Today's Cricket Matches{% endblock %}

{% block 'description' %}Get accurate predictions and betting tips for all upcoming and today's cricket matches. Get predictions of almost all the One Day Internationals, T20 Internationals, Indian Premier League, Big Bash League, Pakistan Super League, Bangladesh Premier League, Carribbean Premier League, Natwest T20 Blast, Royal London One Day Cup, Karnatka Premier League and Tamil Nadu Premier League.{% endblock %}

{% block 'content' %}

<h1 class="has-text-primary">List of all upcoming matches</h1>
<p>Schedule of all upcoming matches coming your way in the next days.</p>
<hr>
{% for match in upcoming_matches %}	
	<div class="content">
				<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
				<h3 class="is-marginless">{{ match.opponents }}</h3>
				<p class="is-uppercase"><a href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
				<a class="button is-dark is-outlined is-radiusless" href="{% url 'match_detail' match.slug %}">
						<span class="icon">
							<i class="far fa-play-circle"></i>
						</span>
					<span>View Prediction</span>
				</a>
			</div>
{% empty %}			
	<div class="notification is-primary">
		<p class="is-uppercase">No match is scheduled.</p>
	</div>			
{% endfor %}

{% endblock %}