.title,
.content h1, h1,
.content h2, h2,
.content h3, h3,
.content h4, h4,
.content h5, h5,
.content h6, h6 {
	font-family: 'Roboto Slab', sans-serif !important;
	font-weight: 700 !important;
}

body {
	font-family: 'PT Sans', sans-serif !important;
	font-weight: 400 !important;
}

html {
	word-wrap: break-word;
	word-break: break-word;
}

.card {
	margin-bottom: 2rem;
}

.sidebar {
	background-color: whitesmoke;
}

.banner-bg {
	background-image: url('../images/12-BW.jpg');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.notification a:not(.button) {
	text-decoration: none;
}


@media screen and (min-width: 1088px) {

	html {
		font-size: 16px;
	}

	.nav-margin {
		margin: 0 2rem !important;
	}

	main .section {
		padding: 3rem;
	}

	aside .section {
		padding: 3rem 2rem;
	}

}