{% extends 'match/app_pages/master.html' %}

{% block 'content' %}

<div class="section">
	<div class="container content">
		<h1>Today's matches</h1>
		{% for match in today_matches %}
			<div class="content notification">
				<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
				<a href="{% url 'app_match' match.slug %}"><h3 class="is-marginless">{{ match.opponents }}</h3></a>
				<p class="is-uppercase"><strong>{{ match.series.title }}</strong></p>
			</div>
		{% empty %}
			<div class="hero">
				<div class="hero-body has-text-centered">
					<h2>No match is scheduled today.</h2>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}