{% extends 'match/app_pages/master.html' %}

{% block 'content' %}

<div class="section">
	<div class="container content">
		<h1>Upcoming matches</h1>
		{% for match in upcoming_matches %}
			<div class="content notification">
				<p class="heading is-marginless">Start Date: {{ match.date|date:"d/m/Y" }} - {{ match.date|date:"h:i A" }}</p>
				<h3 class="is-marginless">{{ match.opponents }}</h3>
				<p class="is-uppercase"><a class="has-text-grey-light" href="{% url 'series_detail' match.series.series_slug %}"><strong>{{ match.series.title }}</strong></a></p>
				<a class="button is-dark is-outlined is-radiusless" href="{% url 'app_match' match.slug %}">
					<span class="icon">
						<i class="far fa-play-circle"></i>
					</span>
					<span>View Prediction</span>
				</a>
			</div>
		{% empty %}
			<div class="hero">
				<div class="hero-body has-text-centered">
					<h2>No match is scheduled.</h2>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}