{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block 'title' %}Today Cricket Matches{% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Contrail+One:400|PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
	<header>
        {% include 'navbar.html' %}
        <div class="hero is-black">
            <div class="hero-body" style="padding: 1.5rem;">
                <div class="container">
                    <a href="{% url 'index' %}">
                    <div class="columns is-mobile is-vcentered">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">
                                <img src="{% static 'images/logo.png' %}">
                            </figure>
                        </div>
                        <div class="column is-6-desktop">
                            {% url 'index' as home_url %}
                            {% if request.get_full_path == home_url %}
                                <h1 class="title is-3 is-size-4-mobile is-uppercase">Today Cricket Matches</h1>
                            {% else %}
                                <p class="title is-3 is-size-4-mobile is-uppercase">Today Cricket Matches</p>
                            {% endif %}                            
                            <p class="subtitle is-6 is-size-7-mobile heading"><em>Get <strong>Accurate Predictions</strong> And <strong>Betting Tips</strong> For All <strong>Upcoming</strong> And <strong>Today's Cricket Matches</strong>.</em></p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>        
    </header>
    {% block 'fullwidth' %}{% endblock %}
	<div class="container">
        <div class="columns is-desktop is-paddingless is-marginless">            
            <main class="column is-8-desktop is-paddingless">
                <div class="section content">
                    {% block 'content' %}{% endblock %}                      
                </div>
            </main>
            <aside class="column is-4-desktop is-paddingless sidebar">
                <div class="section content">
                    {% block 'sidebar' %}{% endblock %}
                </div>
            </aside>
        </div>
    </div>

    <footer class="hero is-light">
        <div class="hero-body">
            <div class="container content">
                <div class="columns is-desktop">
                    <div class="column is-7-desktop">
                        <p class="title is-2 is-size-3-mobile is-uppercase">are you grown up and ready to use science to your benefit or still believe in miracles?</p>
                        <p class="subtitle is-6 heading"><em>We use the power of Staistics, Mathematics and Artificial Intelligence to predict the winner of the match.</em></p>
                    </div>
                    <div class="column is-5-desktop">
                        <p class="heading is-size-7">It all starts with data collected by cricinfo's statsguru and live betting data from betfair.</p>
                        <p class="heading is-size-7">We use cricinfo's statsguru to get stats about ground, teams and players past performances, head to head stats and many more factors to predict the outcome.</p>
                        <p class="heading is-size-7">We use betfair to fetch betting data and use Artifical intelligence to analyze this data to get information about current betting trends from all over the world.</p>  
                    </div>  
                </div>
            </div>      
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>