{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0QEiEf6HcMWh_zhOhNU8KBYaX1O-BoGBw80HUQnWiqk" />
    {% block 'canonical' %}{% endblock %}
    <title>{% block 'title' %}Today Cricket Matches{% endblock %}</title>
    <meta name="news_keywords" content="{% block 'news' %}{% endblock %}">
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700|Saira+Extra+Condensed:900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/cricket.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47699964-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-47699964-4');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7688661235566872",
        enable_page_level_ads: true
      });
    </script>
</head>

<body class="content has-background-white">


{% include 'navbar.html' %}

<header>{% block 'above_content' %}{% endblock %}</header>


<div id="content" class="container is-fluid">
    <div class="columns is-desktop is-paddingless is-marginless">
        <div class="column is-9-desktop is-paddingless is-marginless">
            <main>
                {% block 'content' %}{% endblock %}
            </main>
        </div>
        <div class="column is-3-desktop is-paddingless is-marginless">
            <aside>
                {% block 'sidebar' %}
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Sidebar Top -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7688661235566872"
                         data-ad-slot="6691715257"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                {% endblock %}
            </aside>
        </div>     
    </div>
</div>

{% block 'below_content' %}{% endblock %}

<footer class="footer has-background-dark">
    <div class="container content has-text-centered">
        <p class="title is-4 has-text-grey">Today Cricket Matches</p>
        <p class="subtitle is-6 heading has-text-grey">© 2018 Copyright</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block 'scripts' %}{% endblock %}
</body>
</html>