{% load static %}
<!DOCTYPE html>
<html class="has-background-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0QEiEf6HcMWh_zhOhNU8KBYaX1O-BoGBw80HUQnWiqk" />
    {% block 'canonical' %}{% endblock %}
    <title>{% block 'title' %}Today Cricket Matches{% endblock %}</title>
    <meta name="news_keywords" content="{% block 'news' %}{% endblock %}">
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Play:400,700|Saira+Extra+Condensed:900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/cricket.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47699964-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-47699964-4');
    </script>
</head>

<body class="content has-background-white">


{% include 'navbar.html' %}

<header>{% block 'above_content' %}{% endblock %}</header>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-desktop">
                <div class="column is-8-desktop">
                    <main>
                        {% block 'content' %}{% endblock %}
                    </main>
                </div>
                <div class="column is-4-desktop">
                    <aside>
                        {% block 'sidebar' %}
                            <figure class="image app-image">
                                <img src="{% static 'images/frame-cs.png' %}">
                            </figure>
                            <p class="has-text-centered"><a class="button is-primary is-large" href="/static/downloads/tcm.apk">Download Android App</a></p>
                        {% endblock %}
                    </aside>
                </div>     
            </div>
        </div>
        
    </div>
</section>

{% block 'below_content' %}{% endblock %}

<footer class="footer has-background-dark">
    <div class="container content has-text-centered">
        <p class="title is-4 has-text-grey">Today Cricket Matches</p>
        <p class="subtitle is-6 heading has-text-grey">© 2018 Copyright</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block 'scripts' %}{% endblock %}
</body>
</html>