
<nav class="navbar is-dark has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
                {% url 'index' as home_url %}
                {% if request.get_full_path == home_url %}
                    <h1 class="title is-6 is-uppercase has-text-white">Today Cricket Matches</h1>
                {% else %}
                    <p class="title is-6 is-uppercase has-text-white">Today Cricket Matches</p>
                {% endif %}
            </a>
            <div class="navbar-burger burger" data-target="navMain">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMain" class="navbar-menu">
            <div class="navbar-end">

            </div>
        </div>
    </div>
</nav>